<div class="carriage__title">
  <h1>
    {{
      carriageProps().name[0].toUpperCase() +
        carriageProps().name.slice(1)
    }}
  </h1>
  <button tuiButton size="s" (click)="onUpdate()">
    Update
  </button>
</div>
<div class="seats__title"></div>
<div class="seats__container">
  <div class="seats">
    <h2>Left seats:</h2>
    <div class="seats__rows">
      @for (row of rows; track $index) {
        <div class="seat">
          @for (leftSeat of row.leftSeats; track $index) {
            <div class="seats__seat">{{ leftSeat }}</div>
          }
        </div>
      }
    </div>
  </div>
  <div class="seats">
    <h2>Right seats:</h2>
    <div class="seats__rows">
      @for (row of rows; track $index) {
        <div class="seat">
          @for (rightSeat of row.rightSeats; track $index) {
            <div class="seats__seat">{{ rightSeat }}</div>
          }
        </div>
      }
    </div>
  </div>
</div>
