<div class="carriage__title">
  <h2>
    {{ name() | capitalizeWords }}
  </h2>
  @if (code()) {
    <button tuiButton size="s" (click)="onUpdate()">
      Update
    </button>
  }
</div>
<div class="seats__title"></div>
<div class="seats__container">
  <div class="seats">
    <h3>Left seats:</h3>
    <div class="seats__rows">
      @for (row of rowsList(); track $index) {
        <div class="seat">
          @for (leftSeat of row.leftSeats; track $index) {
            <div class="seats__seat">{{ leftSeat }}</div>
          }
        </div>
      }
    </div>
  </div>
  <div class="seats">
    <h3>Right seats:</h3>
    <div class="seats__rows">
      @for (row of rowsList(); track $index) {
        <div class="seat">
          @for (rightSeat of row.rightSeats; track $index) {
            <div class="seats__seat">{{ rightSeat }}</div>
          }
        </div>
      }
    </div>
  </div>
</div>
