<div class="tui-container">
  <form [formGroup]="loginForm" class="tui-form">
    <div class="tui-row tui-row_sme">
      <h3
        class="tui-form__header tui-form__header_margin-top_none"
      >
        Login
      </h3>
      <div class="tui-form__row">
        <tui-input formControlName="email">
          Email
          <input
            type="text"
            formControlName="email"
            placeholder="Enter email here"
            tuiTextfieldLegacy
          />
          <span class="tui-required"></span>
        </tui-input>
      </div>
    </div>
  </form>
</div>
