@let isLoading = isLoading$ | async;
<div class="tui-container login-form-wrapper">
  <form
    [formGroup]="loginForm"
    class="tui-form"
    (ngSubmit)="onSubmit()"
  >
    <h3
      class="tui-form__header tui-form__header_margin-top_none"
    >
      Login
    </h3>
    <div class="tui-row tui-row_sme">
      <div class="tui-col_8">
        <div class="tui-form__row">
          <tui-input formControlName="email">
            Email
            <input
              type="text"
              formControlName="email"
              placeholder="Enter email here"
              tuiTextfieldLegacy
            />
            <span class="tui-required"></span>
          </tui-input>
          <tui-error
            formControlName="email"
            [error]="[] | tuiFieldError | async"
          />
        </div>
        <div class="tui-form__row">
          <tui-input-password formControlName="password">
            Password
            <input
              type="text"
              formControlName="password"
              tuiTextfieldLegacy
            />
            <span class="tui-required"></span>
          </tui-input-password>
          <tui-error
            formControlName="password"
            [error]="[] | tuiFieldError | async"
          />
        </div>
        <div class="tui-form__row">
          <tui-error [error]="error$ | async" />
          <tui-loader
            class="loader"
            [overlay]="true"
            [showLoader]="isLoading ?? false"
          >
            <button
              tuiButton
              type="submit"
              class="tui-form__button"
              [disabled]="loginForm.invalid"
            >
              Submit
            </button>
          </tui-loader>
        </div>
      </div>
    </div>
  </form>
</div>
