<header class="header-content-wrapper">
  <nav tuiNavigationNav [style.position]="'sticky'">
    <tui-tabs tuiFade>
      <a
        tuiTab
        routerLink="/search"
        routerLinkActive
        ariaCurrentWhenActive="location"
      >
        Home
      </a>
      @if (isLoggedIn()) {
        <button
          tuiTab
          routerLink="/profile"
          routerLinkActive
        >
          Profile
        </button>
      } @else {
        <button
          tuiTab
          routerLink="/login"
          routerLinkActive
          style="margin-left: auto"
        >
          Login
        </button>
      }
      <!-- TODO: add conditional rendering -->
      <a
        tuiTab
        routerLink="/manager/stations"
        routerLinkActive
        ariaCurrentWhenActive="location"
      >
        Stations
      </a>
    </tui-tabs>
  </nav>
</header>
