<div class="ride__header">
  <a
    size="s"
    appearance="whiteblock"
    iconStart="@tui.arrow-left"
    tuiIconButton
    routerLink="/admin/routes"
  >
  </a>
  <h2 tuititle>Route {{ id() }}</h2>
  <button
    tuiButton
    size="s"
    type="button"
    (click)="createRide()"
  >
    Create Ride
  </button>
</div>

<div class="ride__main">
  <tui-accordion class="container">
    @for (ride of ride()?.schedule; track ride.rideId) {
      <tui-accordion-item>
        <h3>Ride {{ ride.rideId }}</h3>
        <ng-template tuiAccordionItemContent>
          <table class="tui-table">
            <tbody>
              <tr
                class="tui-table__tr tui-table__tr_border_none"
              >
                <th class="tui-table__th">Station</th>
                <th class="tui-table__th">Schedule</th>
                <th
                  class="tui-table__th tui-table__th_last"
                >
                  Prices
                </th>
              </tr>
              @for (
                segment of ride.segments;
                track segment;
                let index = $index
              ) {
                <tr
                  class="tui-table__tr tui-table__tr_border_none"
                >
                  <td
                    class="tui-table__td tui-table__td_first"
                  >
                    {{ listOfStations()[index] }}
                  </td>

                  <td class="tui-table__td">
                    <button
                      appearance="outline"
                      iconStart="@tui.pencil"
                      size="s"
                      tuiIconButton
                      [style.border-radius.%]="100"
                      disabled="true"
                    >
                      Edit
                    </button>
                    Arrival:
                    {{ formatDate(segment.time[0]) }}

                    <br />
                    Departure:
                    {{ formatDate(segment.time[1]) }}
                  </td>
                  <td
                    class="tui-table__td tui-table__td_last"
                  >
                    @if (
                      !isEditing(
                        ride.rideId,
                        index,
                        'price'
                      )
                    ) {
                      <button
                        appearance="outline"
                        iconStart="@tui.pencil"
                        size="s"
                        tuiIconButton
                        [style.border-radius.%]="100"
                        (click)="
                          startEditing(
                            ride.rideId,
                            index,
                            'price'
                          )
                        "
                      >
                        Edit Prices
                      </button>
                      @for (
                        pricePair of segment.price
                          | keyvalue;
                        track pricePair
                      ) {
                        <div>
                          {{ pricePair.key }} -
                          {{
                            pricePair.value
                              | currency
                                : 'EUR'
                                : 'symbol'
                                : '1.2-2'
                          }}
                        </div>
                      }
                    } @else {
                      <div>
                        <button
                          size="s"
                          iconStart="@tui.save"
                          tuiIconButton
                          [style.border-radius.%]="100"
                          (click)="
                            saveChanges(
                              ride.rideId,
                              index,
                              'price'
                            )
                          "
                        >
                          Save Prices
                        </button>
                        <button
                          size="s"
                          appearance="destructive"
                          iconStart="@tui.circle-x"
                          tuiIconButton
                          [style.border-radius.%]="100"
                          (click)="
                            cancelEditing(
                              ride.rideId,
                              index,
                              'price'
                            )
                          "
                        >
                          Cancel
                        </button>
                        @if (
                          tempData[ride.rideId] &&
                          tempData[ride.rideId].segments[
                            index
                          ]
                        ) {
                          @for (
                            pricePair of tempData[
                              ride.rideId
                            ].segments[index].price
                              | keyvalue;
                            track pricePair.key
                          ) {
                            <div>
                              {{ pricePair.key }} -
                              <input
                                [(ngModel)]="
                                  tempData[ride.rideId]
                                    .segments[index].price[
                                    pricePair.key
                                  ]
                                "
                                type="number"
                                style="color: black"
                              />
                            </div>
                          }
                        }
                      </div>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </ng-template>
      </tui-accordion-item>
    }
  </tui-accordion>
</div>
