<div class="ride__header">
  <a
    size="s"
    appearance="whiteblock"
    iconStart="@tui.arrow-left"
    tuiIconButton
    routerLink="/admin/routes"
  >
  </a>
  <h2 tuititle>Route {{ id() }}</h2>
  <button
    tuiButton
    size="s"
    type="button"
    (click)="createRide()"
  >
    Create Ride
  </button>
</div>

<div class="ride__main">
  <tui-accordion class="container">
    @for (ride of ride()?.schedule; track ride.rideId) {
      <tui-accordion-item>
        <h3>Ride {{ ride.rideId }}</h3>
        <tra-ride
          [ride]="ride"
          [listOfStations]="listOfStations()"
        />
      </tui-accordion-item>
    }
  </tui-accordion>
</div>
