<form
  [formGroup]="changePasswordForm"
  (ngSubmit)="onSubmit()"
  class="tui-form"
>
  <div class="tui-form__row">
    <tui-input-password
      tuiTextfieldSize="s"
      formControlName="password"
    >
      Password
      <input tuiTextfieldLegacy type="password" />
    </tui-input-password>
    <tui-error
      formControlName="password"
      [error]="[] | tuiFieldError | async"
    />
  </div>

  <div class="tui-form__row">
    <tui-input-password
      tuiTextfieldSize="s"
      formControlName="passwordRepeat"
    >
      Repeat Password
      <input tuiTextfieldLegacy type="password" />
    </tui-input-password>
    <tui-error
      formControlName="passwordRepeat"
      [error]="[] | tuiFieldError | async"
    />
  </div>

  <div class="tui-form__row">
    <tui-loader [showLoader]="isLoading()">
      <button
        tuiButton
        [disabled]="changePasswordForm.invalid"
        type="submit"
      >
        Save
      </button>
    </tui-loader>
  </div>
</form>
