<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  [tuiNumberFormat]="numberFormat"
>
  @defer {
    <tra-map
      formControlName="latLng"
      [stations]="stations()"
    />
  }
  <tui-input formControlName="city">
    City name
    <input
      type="text"
      tuiTextfieldLegacy
      formControlName="city"
    />
  </tui-input>
  <tui-error
    [error]="[] | tuiFieldError | async"
    formControlName="city"
  />
  <tui-input-number formControlName="lat" />
  <tui-input-number formControlName="lng" />
  <button tuiButton type="submit" [disabled]="form.invalid">
    Save
  </button>
</form>
