.stations__wrapper {
  display: flex;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 203px;
  max-width: 768px;
}
.coordinates {
  display: flex;
  gap: 20px;
}
