<div class="station__container">
  <h1>{{ stationProps.city }}</h1>
  <div class="coordinates">
    <span
      >{{ stationProps.latitude }},
      {{ stationProps.longitude }}</span
    >
  </div>
  <div class="connections">
    <h2>Connected to:</h2>
    @if (stationProps.connectedTo.length) {
      <p>
        {{ stationProps | connectedNames }}
      </p>
    } @else {
      <p>There are no connected stations</p>
    }
  </div>
</div>
<button
  tuiButton
  title="Delete"
  size="s"
  appearance="secondary"
  (click)="handleDelete()"
>
  <tui-icon icon="@tui.trash" />
</button>
