@if (showStation) {
  <div class="stations__wrapper">
    <div class="station__container">
      <h1>{{ stationProps.city }}</h1>
      <div class="coordinates">
        <span
          >{{ stationProps.latitude }},
          {{ stationProps.longitude }}</span
        >
      </div>
      <div class="connections">
        @if (stationProps.connectedTo.length) {}
        <h2>Connected to:</h2>
        <p>
          {{ stationProps | connectedNames }}
        </p>
      </div>
    </div>
    <button
      tuiButton
      title="Delete"
      size="s"
      appearance="secondary"
    >
      <tui-icon
        icon="@tui.trash"
        (click)="handleDelete()"
      />
    </button>
  </div>
  <tui-notification></tui-notification>
}
