<div class="tui-container tui-space_top-5">
  <button
    tuiButton
    title="Create carriage"
    size="l"
    (click)="toggleDisplayForm()"
  >
    Create carriage
  </button>
  @if (displayForm) {
    <form
      [formGroup]="carriagesForm"
      class="tui-form"
      (submit)="onSubmit()"
    >
      <tui-error [error]="error()!" />
      <h3 class="tui-form__header">Create Carriage</h3>
      <div class="tui-form__row">
        <tui-input formControlName="name">
          Carriage name
        </tui-input>
        <tui-error
          formControlName="name"
          [error]="[] | tuiFieldError | async"
        />
      </div>
      <div class="tui-form__row">
        <tui-input formControlName="rows">
          Number of rows
        </tui-input>
        <tui-error
          formControlName="rows"
          [error]="[] | tuiFieldError | async"
        />
      </div>
      <div class="tui-form__row">
        <tui-input formControlName="leftSeats">
          Left seats
        </tui-input>
        <tui-error
          formControlName="leftSeats"
          [error]="[] | tuiFieldError | async"
        />
      </div>
      <div class="tui-form__row">
        <tui-input formControlName="rightSeats">
          Right seats
        </tui-input>
        <tui-error
          formControlName="rightSeats"
          [error]="[] | tuiFieldError | async"
        />
      </div>
      <button
        type="submit"
        [disabled]="carriagesForm.invalid"
        tuiButton
      >
        {{ updateMode ? 'Update' : 'Save' }}
      </button>
    </form>
  }
  <div class="carriages__list">
    @if (displayForm) {
      <h2>Carriages prototype</h2>
      <tra-carriage
        [carriageProps]="{
          name: carriagesForm.value.name!,
          rows: carriagesForm.value.rows!,
          leftSeats: carriagesForm.value.leftSeats!,
          rightSeats: carriagesForm.value.rightSeats!,
          code: '',
        }"
      />
    }
    <h2>Carriages list</h2>
    @for (carriage of carriages | async; track $index) {
      <tra-carriage
        [carriageProps]="carriage"
        (updataeCarriage)="upadateCarriage($event)"
      />
    }
  </div>
</div>
