.content-wrapper {
  padding: 1rem;
  max-width: 600px;
  margin-inline: auto;

  h2 {
    text-align: center;
  }
  h3 {
    text-align: right;
    text-transform: capitalize;
  }

  .input-container {
    display: flex;
    align-items: center;
    max-width: 500px;
    gap: 1rem;
    margin-bottom: 1rem;

    tui-input {
      flex-grow: 1;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
  }
}
