<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="tui-form"
>
  <form formArrayName="stations">
    @for (
      station of stationsFormArray.controls;
      let i = $index;
      track i
    ) {
      @let _stations = stations();
      @if (_stations) {
        <tui-select
          [formControlName]="i"
          [stringify]="stringify"
        >
          Station {{ i + 1 }}
          <input tuiTextfieldLegacy />
          <select tuiSelect [items]="_stations"></select>
          <button
            appearance="icon"
            size="xs"
            tabindex="-1"
            tuiIconButton
            iconStart="@tui.x"
            [style.pointer-events]="'auto'"
            (click)="resetStationValue(i)"
          ></button>
        </tui-select>
      }
    }
  </form>
  <button tuiButton type="submit">Save</button>
</form>
